.cardapio{
    padding-top: 40px;
    padding-bottom: 150px;
}

.card-item{
    height: 360px;
}

.card-item .img-produto img{
    width: 100%;
    border-radius: 11px;
}

/* deixar o texto em uma linha */
.card-item .titulo-produto{
    color: var(--preto);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 40px;
    margin-bottom: 0px;
}

/* */

.card-item .preço{
    color: var(--primaria);
    font-size: 24px;
}