.cardapio{
    padding-top: 40px;
    padding-bottom: 150px;
}

.container-menu{
    margin-bottom: 40px;
}

.card-item{
    height: 360px;
}

.card-item .img-produto img{
    width: 100%;
    border-radius: 11px;
}

/* deixar o texto em uma linha */
.card-item .titulo-produto {
    color: var(--preto);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 40px;
    margin-bottom: 0px;
}

/* */

.card-item .preço{
    color: var(--primaria);
    font-size: 24px;
}

.card-item .add-carrinho{
    display: none;
    text-align: center;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.btn-menos{
    color: var(--preto);
    padding: 5px 7px;
    border: 2px solid var(--preto);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

.btn-mais{
    color: var(--preto);
    padding: 5px 7px;
    border: 2px solid var(--preto);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

.add-numero-itens{
    color: var(--preto);
    padding: 2px 15px;
    border-top: 2px solid var(--preto);
    border-bottom: 2px solid var(--preto);
    font-size: 18px;
}

.btn-add{
    border: 2px solid var(--preto);
    font-size: 16px;
    padding: 4px 10px;
    border-radius: 10px;
    color: var(--preto);
    background-color: var(--branco);
    margin-left: 15px;
}

.card-item:hover {
    background-color: var(--primaria);
}

.card-item:hover .titulo-produto {
    display: none;
}

.card-item:hover .add-carrinho {
    display: flex;
}

.card-item:hover .preço{
    color: var(--preto) !important;
    margin-top: 20px
}

.btn-add:hover{
    background-color: var(--preto);
    color: var(--branco);
}