@font-face {
    font-family: 'PoppinsMedium';
    src: url(../fonts/Poppins-Medium.otf);
}

@font-face {
    font-family: 'PoppinsRegular';
    src: url(../fonts/Poppins-Regular.otf);
}

:root{
    --background: #fffdf7;
    --preto: #212121;
    --branco: #fff;
    --txt: #4f4f4f;
    --txt-claro: #90908e;
    --primaria: #ffbf00;
    --secundaria: #fff2cc;
    --vermelho: #e74c3c;
    --verde: #2ecc71;
    --separate: #ccc;
}

body{
    background-color: var(--background);
}

.nav-link{
    color: var(--preto) !important;
    padding-left: 35px !important;
    padding-right: 35px !important;
}