@media (max-width: 767px) {

    .hidden-mobile{
        display: none !important;
    }

    .col-one{
        padding: 0 35px !important;
    }

    /* deixar a animação de fadeIn nos tópicos do menu no cll */
    .fadeInDown {
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
    }
    /*  */

    .navbar-toggler-icon{
        padding-top: 5px;
    }

    .navbar-collapse{
        background-color: var(--secundaria);
        padding: 20px;
        text-align: center;
        border-radius: 40px;
    }

    .navbar-collapse .btn-white{
        margin-top: 20px;
    }

    .navbar-collapse .btn-icon{
        padding-right: 20px;
    }

    .navbar-collapse .btn-icon span.icon{
        display: none;
    }

    .banner{
        padding: 50px 0;
    }

    .banner-texto h1{
        font-size: 38px;
    }

    .banner-texto p {
        font-size: 18px;
    }

    .botao-amarelo, .btn-white{
        padding: 13px 23px;
        font-size: 18px;
    }

    .btn-icon-left span.icon-left{
        width: 43px;
        height: 43px;
        margin-left: -56px;
    }

    .btn-icon-left{
        padding-left: 63px !important;
    }

    .title{
        font-size: 30px;
    }

    .servicos{
        padding-bottom: 50px;
    }

    .cardapio{
        padding-bottom: 50px;
    }

    .container-menu{
        overflow-x: auto;  /* deixa a rolagem lateral */
        overflow-y: hidden;
        display: flex;
        padding-bottom: 15px !important;
    }

    /* remove a scrollbar */
    .container-menu::-webkit-scrollbar{
        width: 6px;
        background: transparent;
    }
    
    .container-menu::-webkit-scrollbar-thumb{
        background: transparent;
        border-radius: 13px;
    }
    
    .container-menu::-webkit-scrollbar-track{
        background: transparent;
    }
    /*  */

    .img-produto{
        position: absolute;
        left: 15px;
    }

    .card-item{
        height: 110px;
        padding-left: 110px;
        justify-content: center;
        align-items: start;
    }

    .card-item .img-produto img{
        width: 80px;
    }

    .titulo-produto{
        margin-top: 0px !important;
        height: 30px !important;
        width: 100%;
        text-align: left !important;
    }

    .preço{
        margin-bottom: 0 !important;
        margin-top: 0 !important;
        font-size: 22px !important;
    }

    .card-item .add-carrinho{
        margin-top: 5px;
    }

    #itensCardapio .mb-5{
        margin-bottom: 15px !important;
    }

    .depoimentos{
        padding-bottom: 50px;
    }

    .reservas{
        padding-bottom: 50px;
    }

    .card-secundario{
        padding: 46px;
        border-radius: 50px;
    }

    .container-logo-rodape{
        justify-content: center;
    }

    .container-texto-rodape p{
        text-align: center;
    }

    .container-social-rodape{
        margin-top: 40px;
        margin-bottom: 50px;
        justify-content: center;
    }

    .modal-full{
        padding: 40px;
    }

    .modal-full .item-carrinho{
        padding-left: 0;
        padding-right: 0;
    }

    .modal-full .img-produto{
        position: relative;
        left: 0;
    }

    .modal-full .img-produto img{
        width: 50px;
    }

    .modal-full .dados-produto{
        padding-left: 15px;
        padding-right: 15px;
        display: grid;
    }

    .modal-full .titulo-produto, .modal-full .preço{
        font-size: 16px !important;
    }

    .modal-full .add-numero-itens{
        padding: 2px 10px;
    }

    .modal-full .form-control{
        font-size: 16px;
    }
}











@media (min-width: 768px) and (max-width: 991px){
    .container-menu{
        overflow-x: auto;  /* deixa a rolagem lateral */
        overflow-y: hidden;
        display: flex;
        padding-bottom: 15px;
    }

    .container-menu::-webkit-scrollbar{
        width: 6px;
        background: transparent;
    }
    
    .container-menu::-webkit-scrollbar-thumb{
        background: transparent;
        border-radius: 13px;
    }
    
    .container-menu::-webkit-scrollbar-track{
        background: transparent;
    }
}