.servicos{
    padding-top: 100px;
    padding-bottom: 150px;
}

.hint-title{
    color: var(--primaria) !important;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.titulo{
    color: var(--preto);
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.card-icon{
    padding-bottom: 5px;
}

.card-texto{
    color: var(--txt-claro);
    font-size: 15px;
    padding: 0 30px;
}

.card-texto p{
    font-size: 22px;
    color: var(--preto);
    margin-bottom: 10px;
}