@import url(css/header.css);
@import url(css/serviços.css);
@import url(css/banner.css);
@import url(css/cardapio.css);
@import url(css/depoimentos.css);
@import url(css/reservas.css);
@import url(css/rodapé.css);
@import url(css/modal.css);

@font-face {
    font-family: 'PoppinsMedium';
    src: url(../fonts/Poppins-Medium.otf);
}

@font-face {
    font-family: 'PoppinsRegular';
    src: url(../fonts/Poppins-Regular.otf);
}

:root{
    --background: #fffdf7;
    --black: #000;
    --preto: #212121;
    --branco: #fff;
    --txt: #4f4f4f;
    --txt-claro: #90908e;
    --primaria: #ffbf00;
    --secundaria: #fff2cc;
    --vermelho: #e74c3c;
    --verde: #2ecc71;
    --separate: #ccc;
    --card: #f4c949;
    --amarelo-hover: #ffd146;
    --laranja: #EB9B00;
}

html, body{
    scroll-behavior: smooth;
    background-color: var(--background);
    font-family: 'PoppinsRegular', 'Rubik', sans-serif;
    color: var(--txt);
    transition: all 0.5s ease-in-out;
}

b{
    font-family: 'PoppinsMedium', 'Rubik', sans-serif;
}

.laranja{
    color: var(--primaria);
}

#copy{
    background-color: #263138;
    text-align: center;
    padding: 24px;
    color: #FFF;
  }
  
  .nick {
    color: var(--laranja);
    text-decoration: none;
  }

  .nick:hover{
    color: var(--amarelo-hover);
    text-decoration: none;
  }

  /* Ícone de itens no carrinho */

.badge-total-carrinho{
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: var(--secundaria);
    border-radius: 50px;
    right: -5px;
    top: -5px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-carrinho{
    position: fixed;
    right: 30px;
    bottom: 50px;
    height: 50px;
    width: 50px;
    background-color: var(--primaria);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--black) !important;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1;
}

/*  */

.container-msg{
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9999;
}

.toast{
    color: var(--branco);
    padding: 10px 25px;
    font-size: 18px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.toast.red{
    background-color: var(--vermelho);
}

.toast.green{
    background-color: var(--verde);
}