@import url(css/header.css);
@import url(css/serviços.css);
@import url(css/banner.css);
@import url(css/cardapio.css);

@font-face {
    font-family: 'PoppinsMedium';
    src: url(../fonts/Poppins-Medium.otf);
}

@font-face {
    font-family: 'PoppinsRegular';
    src: url(../fonts/Poppins-Regular.otf);
}

:root{
    --background: #fffdf7;
    --preto: #212121;
    --branco: #fff;
    --txt: #4f4f4f;
    --txt-claro: #90908e;
    --primaria: #ffbf00;
    --secundaria: #fff2cc;
    --vermelho: #e74c3c;
    --verde: #2ecc71;
    --separate: #ccc;
    --card: #f4c949;
    --amarelo-hover: #ffd146;
}

html, body{
    background-color: var(--background);
    font-family: 'PoppinsRegular', 'Rubik', sans-serif;
    color: var(--txt);
}

b{
    background-color: var(--background);
    font-family: 'PoppinsMedium', 'Rubik', sans-serif;
    color: var(--preto);
}

.laranja{
    color: var(--primaria);
}

.cardapio{
    padding-top: 40px;
    padding-bottom: 150px;
}

.card-item{
    height: 360px;
}

.card-item .img-produto img{
    width: 100%;
    border-radius: 11px;
}

/* deixar o texto em uma linha */
.titulo-produto{
    color: var(--preto);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 40px;
    margin-bottom: 0px;
}

/* */

.card-item .preço{
    color: var(--primaria);
    font-size: 24px;
}